/* translate */
.translate-x-0 {
    transform: translateX(0);
}
.translate-x-full {
    transform: translateX(100%);
}

.translate-y-0 {
    transform: translateY(0px);
}
.translate-y-2 {
    transform: translateY(0.625rem);
}

.rotate-180 {
    transform: rotate(180deg);
}

/* transition timing */
.ease-gentle {
    transition-timing-function: cubic-bezier(0.38, 0.25, 0.99);
}

.ease-cubic-bezier {
    transition-timing-function: cubic-bezier(.5, .85, .25, 1.8);
}

/* keyframe */
/* custom */
@keyframes fly {
    0% {
        transform-origin: 50% 50%;
        transform: rotate(0deg) translateX(0px);
    }

    25% {
        transform: rotate(-2deg) translateX(-10px);
    }
    50% {
        transform: rotate(-3deg) translateX(-15px);
    }
    75% {
        transform: rotate(2deg) translateX(10px);
    }
    100% {
        transform: rotate(0deg) translateX(0px);
    }
}

.animate-fly {
    animation: fly 7s linear infinite;
}

/* duration */
.duration-100 {
    transition-property: all;
    transition-duration: 100ms;
}

.duration-100 {
    transition-property: all;
    transition-duration: 200ms;
}

.duration-300 {
    transition-property: all;
    transition-duration: 300ms;
}
.duration-500 {
    transition-property: all;
    transition-duration: 500ms;
}


.duration-1000 {
    transition-property: all;
    /*transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
    transition-duration: 1000ms;
}