/*
Breakpoint	Class infix	Dimensions
Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px
*/

/* alpinejs */
[x-cloak] {
    display: none !important;
}

/* position */
.position-md-absolute {
    @media (min-width: 768px) {
        position: absolute !important;
    }
}

/* width */
.w-10\/12 {
    width: 83.333333%
}

.w-11\/12 {
    width: 91.666667%
}

/* margin */
.mt0 {
    margin-top: 0;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
    @media (max-width: 767px) {
        margin-top: 6px;
    }
}

.mt12 {
    margin-top: 12px;
    @media (max-width: 767px) {
        margin-top: 8px;
    }
}

.mt14 {
    margin-top: 14px;
    @media (max-width: 767px) {
        margin-top: 10px;
    }
}

.mt16 {
    margin-top: 16px;
    @media (max-width: 767px) {
        margin-top: 14px;
    }
}

.mt30 {
    margin-top: 30px;
    @media (max-width: 767px) {
        margin-top: 20px;
    }
}

.mt35 {
    margin-top: 35px;
}

.mt60 {
    margin-top: 60px;
    /* banner 에 추가될 웹용 mt로서 모바일에선 padding은 없지만 윗 bb / 나의 bb으로 구분되어 모바일에선 0 */
    @media (max-width: 767px) {
        margin-top: 0;
    }
}

.mt65 {
    margin-top: 65px;
    /* layout-center에 추가될 웹용 mt로서 모바일에선 상하 padding으로 대체되니 0 */
    @media (max-width: 767px) {
        margin-top: 0;
    }
}

/* z-index */
.z-1000 {
    z-index: 1000;
}

/* backdrop */
.backdrop-blur-sm {
    backdrop-filter: blur(4px);
}

/* backdrop 위의 offcanvas 그림자 */
.drop-shadow-2xl {
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.cursor-pointer {
    cursor: pointer;
}

/* object */
.object-position-center{
    background-position: center;
}

.object-position-top {
    object-position: top;
}




/* gallery */
.disable-click {
    pointer-events: none;
}

/* grid */
.grid-rows-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
}

.grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}



/* row */
.row-span-1 {
    grid-row: span 1 / span 1;
}
.row-span-2 {
    grid-row: span 2 / span 2;
}
.row-span-3 {
    grid-row: span 3 / span 3;
}

/* col */
.col-span-1 {
    grid-column: span 1 / span 1;
}
.col-span-2 {
    grid-column: span 2 / span 2;
}
.col-span-3 {
    grid-column: span 3 / span 3;
}

/* scroll snap for slider */
/* https://tailwindcss.com/docs/scroll-snap-align */

.snap-x-mandatory {
    /* 화면x 절반 기준 -> 넘어야 넘어가기*/
    scroll-snap-type: x mandatory;
}
.snap-start	{
    /* 부모의 화면절반에 대해 가운데가 아닌 시작점으로 만들기 */
    scroll-snap-align: start;
}