:root {
}

/* mixin by native css: https://mjswensen.com/blog/you-might-not-need-sass-modern-css-techniques/ */
/* ~ 767  md 768 ~ */

.bg-img {
    background: no-repeat var(--bg-x, center) var(--bg-y, center) var(--bg-color, transparent);
    background-size: var(--bg-img-width, auto) var(--bg-img-height, auto);
}

.bg-md-img-none {
    @media (min-width: 768px) {
        background: none !important;
    }
}

.bg-img-x-center {
    --bg-x: center;
}


.bg-img-y-center {
    --bg-y: center;
}

.bg-img-color-transparent {
    --bg-color: transparent;
}

.bg-img-width-auto {
    --bg-img-width: auto;
}

.bg-img-height-auto {
    --bg-img-height: auto;
}

/* 더보기 > 버튼을 위해, 배경이미지를 x right에 붙히도록 넣어주는 mixin */
.bg-img-x-right {
    background-position: right center;
}

/* 별점 배경이미지를 x left에 붙이기 */
.bg-img-x-left {
    background-position: left center;
}
/* 불가피하게 좌우공통여백이 20px 추가된 경우 -> 왼쪽에서 20px에 위치하는 왼쪽 아이콘 */
.bg-img-x-left-20px {
    background-position: left 20px center;
    @media (max-width: 767px) {
        background-position: left 0 center;
    }
}



/* 즐겨찾기 메뉴 */

.bg-img-favorite-nav-type4 {
    background: no-repeat right 30px center transparent;
    background-size: 50px auto;

    @media (max-width: 767px) {
        background-position: center;
        background-size: auto 65%;
    }
}

.bg-img-favorite-nav-type5 {
    background: no-repeat right 15px center transparent;
    background-size: 100px auto;

    @media (max-width: 767px) {
        background-position: center;
        background-size: auto 75%;
    }
}

.bg-img-favorite-nav-type3 {
    background: no-repeat right 0 center transparent;
    background-size: 150px auto;

    @media (max-width: 767px) {
        background-position: center;
        background-size: auto 70%;
    }
}

.bg-img-favorite-nav-type1 {
    background: no-repeat right 5px bottom transparent;
    background-size: auto 100%;

    @media (max-width: 767px) {
        background-position: center;
        background-size: 90% auto;
    }
}

.bg-img-favorite-nav-type2 {
    background: no-repeat right -5px bottom -15px transparent;
    background-size: auto 120%;

    @media (max-width: 767px) {
        background-position: center;
        background-size: 100% auto;
    }
}

/* 말줄임표 */
.ellipsis {
    /* div-block이라 가로크기가 들어가야함. */
    /* inline이라면 display:block; 까지 추가 */
    /*display: block;*/
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis-2 {
    width: 100%;
    white-space: normal; /* 여러 줄을 위해 normal로 설정 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 원하는 줄 수 */
}

/* container */
.layout-center {
    width: 1185px;
    /*margin: 0 auto;*/
    /* 기본 위쪽 여백 추가 */
    margin: 60px auto 0;

    @media (max-width: 767px) {
        margin: 0;
        width: 100%;
        /* w100%에  추가로 padding을 주면, box-sizing: border-box 안주면 가로스크롤이 생긴다.*/
        /* -> 여기선 bootstrap reboot에서 처리해줘서 생략했다.*/
        box-sizing: border-box;
        /* header 모바일 패딩과 동일한 값 */
        /*padding: 0 15px 0 ;*/
        /* 모바일에서 section mt까지 대체 */
        /* 특히 section-border도 반영하려면, margin대신 padding으로 */
        padding: 20px;
    }
}


/* 모바일 section 구분 border-bottom */
.section-border {
    @media (min-width: 0px) and (max-width: 767px) {
        border-bottom: .8rem solid var(--greyf1);
    }
}


.position-md-static {
    @media (min-width: 768px) {
        position: static!important;
    }
}