/* title 바로 아래 import */
/*
<link
  rel="stylesheet"
  as="style"
  crossorigin
  href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
/>
*/
/*html {*/
/*  font-size: 62.5%;*/
/*}*/
body {
    font-size: 1rem;
}

li,
a,
p,
span,
div,
button,
label {
    font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}


.text-purple {
    color: var(--purple)!important;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--grey28);

    /* 어두운 배경일 때 */
    &.title-white {
        color: var(--white);
    }
    @media (max-width: 767px) {
        font-size: 17px;
    }
}


