:root {
    --purple: #6024c6;
    --grey28: #282a2e;
    --grey96: #96989c;
    --greye7: #e7e9ec;
    --grey6f: #6f736f;
    --greydd: #dddfe2;
    --greyf6: #f6f8fb;

    /* swiper */
    --lightorange: #ebddc4;
    --green: #c8e3d6;

    --white: #fff;
    --black: #000;
    --black-20: rgba(0, 0, 0, .2);
    --black-40: rgba(0, 0, 0, .4);
    --white-20: rgba(255, 255, 255, 0.2);
}

