:root {

}


.register {
    /* 기본 section의 pb를 제거하여 section-bottom없이 다음 section의 pt와 어울림 */
    padding-bottom: 0;

    & a {
        background-image: url("../../images/svg/icons/register-plus.svg");

        gap: 20px;

        /* 24x24 + 6px 띄우기 */
        padding: 8px 24px;
        padding-left: 54px;

        background-color: #fff;
        /*border: 1px solid var(--greyec);*/
        /*border-radius: 8px;*/
        /*box-shadow: rgba(0, 0, 0, 0.06) 0 0.2rem 0.4rem 0;*/
        border: 1px solid var(--greyec);
        border-radius: 8px;
        cursor: pointer;

        @media (max-width: 767px) {
            padding: 10px 0;
            padding-left: 30px;

            border: none;
            border-radius: 0;
            box-shadow: none;
            border-bottom: 1px solid var(--greyf1);
        }

        & .register-text {
            & .register-text-title {
                font-size: 15px;
                font-weight: 700;
                color: var(--grey28);

                margin-right: 12px;

                @media (max-width: 767px) {
                    font-size: 13px;
                    /* 모바일에선 subtitle이 사라지므로 title을 메인색으로 */
                    color: var(--purple6f);
                }
            }

            & .register-text-subtitle {
                font-size: 13px;
                font-weight: 500;
                color: var(--grey5a);

                @media (max-width: 767px) {
                    font-size: 12px;
                }

                & strong {
                    margin-left: 4px;
                    color: var(--purple6f);
                }
            }
        }

        & .register-icon {
            width: 32px;
            height: 32px;

            background-image: url("../../images/svg/icons/register-form-32x32.svg");
        }
    }
}

/* 즐겨찾는 메뉴 */
.favorite-nav {
    /* .layout-center로 이관 */
    /*width: 1185px;*/
    /*margin: 0 auto;*/

    /* layout-center 공통 으로 이관 */
    /*margin-top: 60px;*/

    & ul {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px 24px;
        @media (max-width: 767px) {
            /* 모바일에선 카드형이 아이콘으로 5개씩 */
            grid-template-columns: repeat(4, 1fr);
            gap: 15px 12px;
            /*grid-template-columns: repeat(5, 1fr);*/
            /*gap: 12px 10px;*/
        }


        & li {
            box-shadow: 1px 1px 5px var(--black-20);
            border-radius: 15px;

            /* 기본 회색 배경 + hover/focus시 좀더 어둡게 + 약간 크기 키우기 */
            background-color: #F1F3F6;
            text-shadow: 1px 1px 2px var(--black-20);
            @media (max-width: 767px) {
                border-radius: 0;
                box-shadow: none;
                background-color: transparent;

                /* 모바일용 div글자 가운데 정렬 */
                > div {
                    text-align: center;
                    font-size: 11px;
                    color: var(--grey28);
                    font-weight: 600;
                    text-shadow: none;

                    /*padding: 10px 0 0;*/
                    /* new */
                    padding: 6px 0 0;
                    letter-spacing: -0.5px;

                    /* new */
                    white-space: nowrap;
                }
            }

            transition: all .3s;

            &:hover, &:focus {
                /*border: 1px solid var(--greye7);*/
                background-color: var(--greydd);
                transform: scale(1.01);
                @media (max-width: 767px) {
                    border: 0;
                    background-color: transparent;
                    transform: none;
                }
            }


            &.favorite-nav-color-menu {
                /* 1. 글자 밝게 (공통)*/

                > div {
                    text-shadow: 1px 1px 2px var(--black-40);
                    @media (max-width: 767px) {
                        text-shadow: none;
                    }
                }

                & a .favorite-nav-text-sub {
                    color: var(--greydd);
                }

                & a .favorite-nav-text-main {
                    color: var(--greyf6);
                }
            }

            &.favorite-nav,
            &.favorite-nav-color-menu {
                /* 2. 개별 배경색은 동시 클래스 추가
                   1) li의 배경색
                   2) 모바일에선 li 투명색 + 자식a 해당 배경색
               */

                &.menu-blue {
                    background-color: var(--blueeb);
                    @media (max-width: 767px) {
                        background-color: transparent;
                        & a {
                            background-color: var(--blueeb);
                        }
                    }
                }

                &.menu-red {
                    background-color: var(--rede4);
                    @media (max-width: 767px) {
                        background-color: transparent;
                        & a {
                            background-color: var(--rede4);
                        }
                    }
                }

                &.menu-purple {
                    background-color: var(--purple6f);
                    @media (max-width: 767px) {
                        background-color: transparent;
                        & a {
                            background-color: var(--purple6f);
                        }
                    }
                }

                &.menu-green {
                    background-color: var(--green05);
                    @media (max-width: 767px) {
                        background-color: transparent;
                        & a {
                            background-color: var(--green05);
                        }
                    }
                }

                &.menu-orange {
                    background-color: var(--orangef8);
                    @media (max-width: 767px) {
                        background-color: transparent;
                        & a {
                            background-color: var(--orangef8);
                        }
                    }
                }

                &.menu-kakaomap {
                    background-color: var(--yellokakakomap);
                    @media (max-width: 767px) {
                        background-color: transparent;
                        & a {
                            background-color: var(--yellokakakomap);
                        }
                    }
                }
            }

            & a {

                padding: 0 30px;

                /* 글자사기 간격을 gap으로 처리하기 위해 간격초기화 */
                line-height: 1;
                gap: 12px;
                border-radius: inherit;
                height: 120px;

                @media (max-width: 767px) {
                    background-color: #F1F3F6;
                    padding: 0;

                    border-radius: 18px;
                    width: 100%;
                    max-width: 55px;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    margin: 0 auto;
                }

                /* height를 줄 때, border들어갈 예쩡이면 필수로 넣어주자. */
                box-sizing: border-box;


                & .favorite-nav-text-sub {
                    font-size: 14px;
                    color: var(--grey6f);
                }

                & .favorite-nav-text-main {
                    font-size: 24px;
                    color: var(--black);
                }

                /* 부모인 li태그에 .bg-dark 가 찍혀있으면 찐한 색이 들어가니 -> a태그 속 텍스트를 밝게 */

                /*.bgc-dark & {*/
                /*    text-shadow: 1px 1px 2px var(--black-40);*/
                /*    !*text-shadow: 1px 1px 2px var(--white);*!*/

                /*    & .favorite-nav-text-sub {*/
                /*        color: var(--greydd);*/
                /*    }*/

                /*    & .favorite-nav-text-main {*/
                /*        color: var(--greyf6);*/
                /*    }*/
                /*}*/
            }
        }
    }
}


/* profile swiper */
.profile {
    /* profile swiper */

    & .swiper[x-ref="profile_swiper"] {
        margin-left: 0 !important;
        margin-right: 0 !important;

        & .swiper-wrapper {
            & .swiper-slide {
                height: auto !important;

                & img {
                    /*width: 8rem;*/
                    /*@media (min-width: 768px) {*/
                    /*    width: 11.5rem;*/
                    /*}*/
                    /*height: auto !important;*/
                    height: 15rem;
                    @media (max-width: 767px) {
                        height: 7rem;
                    }
                    width: auto !important;

                    object-fit: cover;
                    object-position: center;
                }

                & h3 {
                    font-size: 15px;
                    @media (max-width: 767px) {
                        font-size: 13px;
                    }
                    font-family: 'Noto Serif KR', serif;
                    color: var(--gold);
                    font-weight: 600;
                    text-transform: uppercase;

                    display: inline-block;
                    position: relative;

                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 40%;
                        right: -50%;
                        height: 1.5px;
                        background: var(--gold);
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    /* test */
                    /* 우측 thumbnail 사진 생기고부터..*/
                    /*@media (max-width: 576px) {
                        &::after {
                            width: 20%;
                            right: -25%;
                        }
                    }*/
                }

                & h1 {
                    font-family: 'Noto Serif KR', serif;
                    font-size: 24px;
                    @media (min-width: 768px) {
                        font-size: 27px;
                    }

                    color: white;
                    text-shadow: var(--profile-shadow);
                    text-transform: uppercase;
                    letter-spacing: 0.4rem;
                }

                & span {
                    /*font-family: 'Noto Serif KR', serif;*/
                    color: white;
                    text-shadow: var(--profile-shadow);
                    text-transform: uppercase;
                    font-size: 14px;
                    @media (min-width: 768px) {
                        font-size: 17px;
                    }
                }

                & p {
                    font-family: 'Noto Serif KR', serif;
                    color: var(--grey-zinc);
                    text-shadow: var(--profile-shadow);
                    font-weight: 350;

                    font-size: 13px;
                    @media (min-width: 768px) {
                        font-size: 17px;
                    }

                    line-height: 1.7;
                    /* 버티컬 swiper에서 높이가 달라질 수 있는 요소 -> 높이 3lh 넘으면 ellipsis */
                    -webkit-line-clamp: 3; /* 3 줄을 넘어가면 자르기 */
                    /* 세로정렬바닥에서 시작 -> 유동적인 높이로 처리하기 위해
                        height -> max-height*/
                    max-height: 5.5rem; /* (최대)3 줄 높이 (lh * 3 보다 약간크게 ) */
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                }

                & a {
                    /* 20x20 + 5px 띄우기 */
                    padding-left: 25px;

                    line-height: 20px;
                    font-size: 15px;

                    @media (max-width: 767px) {
                        line-height: 20px;
                        font-size: 11px;
                    }
                    color: var(--gold);
                    font-weight: 350;


                    &.account {
                        background-image: url("../../images/svg/icons/profile-account-gold.svg");
                        font-weight: 400;
                    }

                    &.mobile {
                        background-image: url("../../images/svg/icons/profile-mobile-gold.svg");
                    }
                }
            }
        }
    }

    & button.detail-btn {
        display: inline-block;
        border: 1px solid #CEA869;
        /*border-radius: 10%;*/
        /* 작은화면 가운데정렬로 벌어질 때 크기 fix*/
        max-width: 250px;
        /* 큰화면 좌측정렬로 안벌어질 때 padding으로 크기 fix*/
        padding: 6px 28px !important;
        padding-right: 56px !important; /*이건 after > 버튼을 염두에 둔 것*/

        font-size: 13px;
        @media (min-width: 768px) {
            font-size: 17px;
        }

        color: var(--gold);
        text-shadow: var(--profile-shadow);
        font-family: 'Noto Serif KR', sans-serif;
        font-weight: 550;

        position: relative;

        &::after {
            content: ">";
            display: block;
            position: absolute;
            font-size: inherit;
            font-weight: 900;
            top: 50%;
            transform: translateY(-50%);
            right: 24px; /* 버튼 pe-24px 더 준만큼 가기*/
        }

        &:hover {
            color: white;
            background-color: var(--gold);
        }
    }

    /* image swiper */

    & .swiper[x-ref="image_swiper"] {
        width: 100% !important;
        /* active img보다 더 크게 */
        /*height: 24rem !important;*/
        /*@media (max-width: 767px) {*/
        /*    height: 17rem !important;*/
        /*}*/
        height: 25rem !important;
        @media (max-width: 767px) {
            height: 23rem !important;
        }

        & .swiper-wrapper {
            top: 0px !important;
            bottom: 0px !important;

            & .swiper-slide {
                height: 100% !important;

                position: relative;

                display: flex;
                flex-direction: column;
                align-items: start;

                /*justify-content: end;*/
                justify-content: center;

                /* active slide는 세로방향 요소 수직정렬 세로위쪽으로 높이기 */

                &.swiper-slide-active {
                    justify-content: flex-start !important;
                }

                & h1 {
                    color: white;
                    text-shadow: var(--profile-shadow);
                    font-family: "Noto Serif KR", serif;
                    padding-left: 0.8rem;
                    @media (max-width: 767px) {
                        padding-left: 0.2rem;
                    }

                    font-size: 1.3rem;
                    @media (max-width: 767px) {
                        font-size: 1.1rem;
                    }
                    line-height: 1.5;

                    .swiper-slide-active & {
                        font-size: 1.7rem;
                        @media (max-width: 767px) {
                            font-size: 1.3rem;
                        }
                    }
                }

                & img {
                    position: relative;
                    /* w100% .col .swiper .swiper-wrapper .slide 내부
                       여러장 보일거 고려해서 px로 지정 */

                    /*width: 80% !important;*/
                    width: auto !important;
                    min-width: 240px !important;

                    /* 일반 slide 높이 */
                    opacity: 0.8;
                    height: 20rem !important;
                    @media (max-width: 767px) {
                        height: 14rem !important;
                    }

                    /* active slide 높이 */

                    .swiper-slide-active & {
                        opacity: 1;
                        height: 24rem !important;
                        @media (max-width: 767px) {
                            height: 17rem !important;
                        }
                    }

                    object-fit: cover;
                    object-position: center;

                    transition-property: all;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    transition-duration: 500ms;

                }
            }
        }
    }

    & .buttons button {

        @media (max-width: 767px) {
            transform: scale(0.85) !important;
        }
    }
}


/* gallery */
.gallery {
    background-color: var(--grey34);
    /* 자식 속 .layout-center의 margin collapse를 방지하기 위해 */
    padding-top: 1px;

    color: var(--greyd9);

    font-size: 24px;
    letter-spacing: 2px;

    @media (max-width: 767px) {
        letter-spacing: 0;
        font-size: 14px;
        text-align: center;
    }


    & .testimonials-item {
        width: 72px; /* font * 3배 */
        height: 72px;
        @media (max-width: 767px) {
            width: 52px;
            height: 52px;
        }
    }

    & .gallery-contents > div {

        @media (max-width: 767px) {
            aspect-ratio: 2/3;
        }
        @media (min-width: 768px) {
            max-height: 43rem;
        }
    }

    .disable-click {
        pointer-events: none;
    }

    /* 이전 버튼 - 우상단, 우하단에만 border-radius 적용 */

    .prev-button {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    /* 다음 버튼 - 좌상단, 좌하단에만 border-radius 적용 */

    .next-button {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}

/* 광고 영역 */
.advertisement {
    background-color: var(--yellowkakao);
    /* img는 inline이라서 가운데정렬을 text-align으로만 해도 된다.*/
    text-align: center;

    img {
        @media (max-width: 767px) {
            width: 100%;
        }
    }
}


